aiogram>=3.0.0
python-dotenv>=1.0.0
httpx>=0.27.0
qrcode[pil]>=7.4.2
fastapi>=0.110.0
uvicorn>=0.29.0
python-multipart>=0.0.9
jinja2>=3.1.0
# اختیاری: فقط برای Proxyهای socks4/socks5
# aiohttp-socks>=0.9.0

